<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--SQL Server-->
		<add connectionString="Data Source=(LocalDB)\MSSqlLocalDB;Initial Catalog=DBControleTarefas;Integrated Security=True;Pooling=False"
			 name="SQLServer"
			 providerName="System.Data.SqlClient"/>
		<!--SQLite-->
		<add connectionString="Data Source=C:\Users\JX\Documents\GitHub\Controle de Tarefas.DB\dbo\SQLite\Controle de Tarefas.db;Version=3"
			name="SQLite"
			providerName="System.Data.SQLite"/>
	</connectionStrings>

	<appSettings>
		<!--Escolher tipo de banco-->
		<add key="bancoDeDados" value="SQLServer"/>
	</appSettings>
</configuration>

