<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBSQLite.Properties.Settings.DBe_AgendaConnectionString"
            connectionString="Data Source=(LocalDB)\MSSqlLocalDB;Initial Catalog=DBe-Agenda;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>